---
import TextInput from "./TextInput.astro";

export interface Props {
	heading: string;
	subheading: string;
	labels: string[];
	placeholders: string[];
}

const { heading, subheading, labels, placeholders } = Astro.props as Props;

---

<section class="flex flex-col gap-8">
	<div>
		<h1>{heading}</h1>
		<h2>{subheading}</h2>
	</div>
	<form class="flex flex-col gap-4" action="">
		<TextInput 
			label={labels[0]} 
			placeholder={placeholders[0]}
		/>
		<TextInput 
			label={labels[1]} 
			placeholder={placeholders[1]}
		/>
		<TextInput 
			label={labels[2]}
			placeholder={placeholders[2]}
		/>
	</form>
</section>

<style>
	h1 {
		font-size: 1.8rem;
		font-weight: 700;
		color: var(--color-marine-blue);
	}

	h2 {
		color: var(--color-cool-gray);
	}
</style>